/* IMPORTED FONTS: "MERIENDA ONE" FOR HEADING, "MERRIWEATHER SANS" FOR MAIN */

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

/* HTML RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN PAGE BACKGROUND IMAGE */

.body_bg_index_pg{
    background-image: url("https://c1.wallpaperflare.com/preview/928/187/655/landscape-mountains-north-thailand-morning-sun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 100vw;
    background-color: #999DA0;
}

h1 {
    color: white;
    font-size: 2.5rem;
    margin-top: 1rem;
    font-family: "Merienda One";
}

span {
    white-space: nowrap;
}

.sub-heading {
    color: white;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    
}

.img_caption {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: "Merienda One";
    font-weight: 1000;
}

.dishes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    height: 100vh;
    padding: 100px 0 100px 0;
}

.dishes img {
    display: flex;
    width: 100%;
    max-width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.index_pg_imgs:hover{
    transform: scale(1.05);
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 30px;
    background-color: #999DA0;
    width: 100%;
    color: white;
    font-size: 1.5rem;
}

footer a {
    text-decoration: none;
}

.secondary-font{
    font-family: "Merriweather Sans";
    font-weight: 1000;
}

/* @MEDIA QUERIES */

@media only screen and (max-width: 1100px) {
    .dishes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        height: 100vh;
        padding: 100px 0 100px 0;
    }
    
    .dishes img {
        display: flex;
        width: 100%;
        max-width: 18rem;
        height: 18rem;
    }
}

@media only screen and (max-width: 1000px) {
    .dishes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        height: 100vh;
        padding: 100px 0 100px 0;
    }
    
    .dishes img {
        display: flex;
        width: 100%;
        max-width: 18rem;
        height: 18rem;
    }
}

@media only screen and (max-width: 950px) {
    .dishes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        height: 100vh;
        padding: 100px 0 100px 0;
    }
    
    .dishes img {
        display: flex;
        width: 100%;
        max-width: 15rem;
        height: 15rem;
    }
}

@media only screen and (max-width: 800px) {
    .dishes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        height: 100vh;
        padding: 100px 0 100px 0;
    }
    
    .dishes img {
        display: flex;
        width: 100%;
        max-width: 14rem;
        height: 14rem;
    }
    .index_pg_imgs:hover{
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 768px) {
    .dishes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        /* gap: 2rem; */
        align-items: center;
        height: 100vh;
        padding: 100px 0 100px 0;
    }
    
    .dishes img:nth-of-type(1) {
        display: flex;
        width: 100%;
        max-width: 25rem;
        height: 25rem;
        margin-top: 2.5rem;
    }
    .index_pg_imgs:hover{
        transform: scale(1.05);
    }
    
    .body_bg_index_pg {
        background-image: url("https://c1.wallpaperflare.com/preview/928/187/655/landscape-mountains-north-thailand-morning-sun.jpg");
        background-repeat: repeat-y;
    }
    #dish_3 {
        padding-bottom: 5rem;
    }
    
    .index_pg_imgs {
        margin-bottom: 2rem;
        
    }
}

/* KHAO SOI PAGE CSS/* 

/* KHAO SOI PAGE BACKGROUND IMAGE*/

.body_bg_khaosoi_pg{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/620/423/687/chaing-mai-field-wallpaper-preview.jpg");
    background-size: cover;
}
.khaosoi_hero_img {
    height: 100vh;
    padding: 100px 0 100px 0;
    margin: 100 0 0 0 
}

.khaosoi_hero_img img {
    display: block;
    position: relative;
    top: 3.5rem;
    left: 1.5rem;
    width: 100%;
    max-width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.khaosoi_blurb {
    color: white;
    font-size: 1.8rem;
    font-family: "Merriweather Sans";
    font-weight: 1000;
}